.login-wrapper {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: 
   linear-gradient(
	rgba(0,0,0,0.4),
	rgba(0,0,0,0.6) );
}

.login-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../image/background.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  z-index: -1;
}

.login-card {
  width: 360px;
  padding: 30px;
  background: rgba(27, 27, 27, 0.15);
  backdrop-filter: blur(12px);
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  color: rgb(0, 0, 0);
  text-align: center;
}

.login-card h2 {
  margin-bottom: 8px;
}

.login-card p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #2d2d2d;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.login-card button {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #3b82f6;
  color: rgb(42, 42, 42);
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.login-card button:hover {
  background: #2563eb;
}

.login-card small {
  display: block;
  margin-top: 20px;
  font-size: 12px;
  color: #313132;
}
