
.header {
  background: #0f172a;
  color: white;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.header span {
  font-size: 12px;
  color: #cbd5f5;
}

.header input {
  padding: 10px 14px;
  border-radius: 8px;
  border: none;
  width: 250px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 25px;
  padding: 40px;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: transform 0.2s;
  position: relative;
  z-index: 1;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 10px;
}

.card h3 {
  margin: 10px 0 5px;
}

.price {
  color: #16a34a;
  font-weight: bold;
}

.card button {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.card button:hover {
  background: #1d4ed8;
}

